* {
    font-family: Norse Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.containertwo {
    display: flex;
    flex-direction: column;
    width: 65vw;
    height: 100vh;
}
