@font-face {
    font-family: Norse, Bold;
    src: url('Norse-Bold\ \(1\).otf');
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.containertwo {
    display: flex;
    flex-direction: column;
    width: 65vw;
    height: 100vh;
}

.sidebar {
    height: 100vh;
    width: 35vw;
    background-image: url("images/matias-north-WQUS_i6pD2s-unsplash.jpg");
    background-size: cover;
    display: flex;
    position: relative;
}

.odincontainer {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 100%;
    top: 6vh;
}

.odinlogo {
    height: 25vh;
    width: 8vw;
}

.odintext {
    font-size: 6vw;
    font-family: Norse, Bold;
    color: whitesmoke;
}

.artistcredit {
    position: absolute;
    bottom: 1vh;
    right: 2vw;
    color: rgb(87, 173, 126);
}    

.artistcredit a:link {
    color: rgb(87, 173, 126);
}

.bar-one {
    background-color: grey;
    width: 65vw;
    height: 35vh;}

.bar-two {
    background-color: lightgray;
    width: 65vw;
    height: 30vh;
}

.bar-three {
    background-color: grey;
    width: 65vw;
    height: 35vh;
}